@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-gutter: #737373;
  --background-slider-thumb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-slider-thumb: #404040;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* dark  scrollbar */
*::-webkit-scrollbar {
  width: thin;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: #404040;
}

*::-webkit-scrollbar-thumb {
  background: #282828;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gutter {
  background-color: var(--background-gutter);
  background-repeat: no-repeat;
  background-position: center;
}

.gutter:hover {
  background-color: #3b82f6;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

/* problem description cards */
code {
  border-radius: 3px;
  border-width: 1px;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.125rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0.5rem;
  color: rgba(239, 241, 246, 0.75);
  font-size: 0.98rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  white-space: pre-wrap;
}

.example-card pre strong {
  color: white;
  font-size: 1rem;
}

/* home page loading */

.skeleton-box {
  position: relative;
  overflow: hidden;
  /* background-color: #e2e8f0; */

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 3s infinite;
    content: "";
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* input slider */
input[type="range"] {
  appearance: none;
}

/* Chrome, Safari, Edge, Chromium broswers */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--background-slider-thumb);
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  background-color: var(--background-slider-thumb);
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
}
